<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<title>%(title)s - Documentation - Puppet Labs</title>     
    <meta name="keywords" content="Puppet, puppet labs, reductive labs, open source, system administrator, ruby, data center, automation, support" />
    <link rel="canonical" href="http://docs.puppetlabs.com/%(canonical)s" />
    <link rel="stylesheet" type="text/css" href="%(stylesheets)s/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="%(stylesheets)s/syntax.css" media="screen"> <!-- index -->
</head>

<body id="puppetlabsdocs" class="docs">
<section id="content">
  <div class="site-width">
    <div class="primary-secondary-content">
      <div class="primary-content">
      <!-- dash-puppet-docset header, layout: %(layout)s -->
<h2 id="docset-header">%(full_title)s <span class="version">%(version)s</span></h2>
